<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisitorsLog.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <VisitorsLog.My.MySettings>
      <setting name="dbaseServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="dbasePort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="dbaseUser" serializeAs="String">
        <value>visitor</value>
      </setting>
      <setting name="dbasePwd" serializeAs="String">
        <value>visitors</value>
      </setting>
      <setting name="dbaseSchema" serializeAs="String">
        <value>visitors</value>
      </setting>
      <setting name="computerMode" serializeAs="String">
        <value>IN</value>
      </setting>
      <setting name="AUTO_IN_OUT" serializeAs="String">
        <value>False</value>
      </setting>
    </VisitorsLog.My.MySettings>
  </userSettings>
</configuration>